@page
@model Category.Pages.CategoryListModel
@{
    ViewData["Title"] = "Product Category";
}
<h1>Category List</h1>
<!-- the Razor pagge -->

<!-- New Pizza form will go here -->

<!-- List of pizzas will go here -->
<div class="row">
    <table class="CategoryTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
       


        

    </table>

</div>
